<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Compiled and minified CSS -->
    <link rel = "stylesheet"
    href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Fav icon -->
    <link rel="shortcut icon" href="/img/admin/favicon-logo.ico">

    <!-- Link Iconos fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    
    <!-- Link Materialize Framework -->
    <script type = "text/javascript"
    src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    
    <!-- Links Ui Kit -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/css/uikit.min.css" />
     
    <script type="text/javascript" src="/js-admin/admin-js.js"></script>
    <!-- Css FORMS -->
    <link rel="stylesheet" href="/css/admin-estilos/estilos-forms-admin.css">


    <title>Cargar curso</title>
</head>
<body>
<div class="cuerpo">
    <br>
    <div class="uk-flex uk-flex-around">
    	
        <a th:href="@{/admin/lista-de-cursos}" class="uk-button" uk-icon="icon: chevron-double-left; ratio: 1.5">Volver</a>
        <h2 >Nuevo curso</h2>
        <div class="uk-inline">
            <button class="uk-button" uk-icon="icon:  chevron-down; ratio:1.5" type="button">Menú</button>
            <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                	<li><a th:href="@{/admin/inicio}">INICIO</a></li>
                    <li class="uk-nav-header">Cargar datos</li>
                    <li><a th:href="@{/admin/cargar-profesor}">Cargar profesor/a </a></li>
                    <li><a th:href="@{/admin/cargar-categoria}">Cargar categoría</a></li>
                    <li th:class="uk-nav-header">Listas</li>
                    <li><a th:href="@{/admin/lista-de-cursos}">Cursos</a></li>
                    <li><a th:href="@{/admin/lista-de-profesores}">Profesores/as</a></li>
                    <li><a th:href="@{/admin/lista-de-categorias}">Categorías</a></li>
					<li th:class="uk-nav-header">Perfil</li>
                    <li><a th:href="@{/usuario/perfil(id=__${session.usuariosession.id}__)}">Configuración</a></li>
                    <li><a th:href="@{/logout}">Cerrar Sesión</a></li> 
                </ul>
            </div>
        </div>
        
    </div>
    
        <div class="form">
    
            <form th:action="@{/admin/agregar-curso}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Ingrese el nombre del curso..." name="nombreDelCurso" id="first_name" type="text" class="validate uk-input" required>
                      <label for="first_name">Ingrese nombre</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name"  type="text" name="idDeYoutube" class="validate uk-input" required>
                      <label for="last_name">Ingrese id de Youtube</label>
                    </div>
                  </div>
                <div class="row">
                    <div class="col s6">
                        <select name="idProfesor">
                            <option value="" disabled selected>Seleccione profesor/a</option>
                            <option th:each="profesor : ${profesores}" th:text="${profesor.nombre}" th:value="${profesor.id}" required>Option 1</option>
                        </select>
                    </div>
                    <div class="col s6">
                    	
                        <select name="idCategoria">
                          <option value="" disabled selected>Seleccione categoría</option>
                          <option th:each="categoria : ${categorias}" th:text="${categoria.nombre}" th:value="${categoria.id}" required class= "black-text text-darken-2" text="1"></option>
                        </select>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" name="descripcion" class="materialize-textarea uk-textarea" onkeyup="countChars(this)" required></textarea>
                        <p id="charNum"></p>
                        <label for="textarea1">Descripción</label>
                    </div>
                </div>
                <div class="row button">
                    <button type="submit" uk-icon="check" class="uk-button green" id="boton">
                        <span class="black-text">Cargar</span>
                    </button>
                </div>
            </form>    
        </div>
</div>
    
    
    <!-- JS Ui Kit -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit-icons.min.js"></script>
</body>
</html>