<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/plantillas-admin/base-plantilla :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav th:replace="/plantillas-admin/base-plantilla :: nav"></nav>

	<div th:replace="/plantillas-admin/base-plantilla :: separacion"></div>
	
	<h1 class="display-1">Agregar categoria</h1>
	
	
	<form class="row gx-3 gy-2 align-items-center" th:action="@{./agregar-categoria}" method="post">
		  <div class="col-sm-3">
		    <label class="visually-hidden" for="specificSizeInputName">Ingrese nombre</label>
		    <input name="nombreDeCategoria" type="text" class="form-control" id="specificSizeInputName" placeholder="Ingrese nombre de la categoria...">
		  </div>
		
		  <div class="col-auto">
		    <button type="submit" class="btn btn-outline-success">Submit</button>
		  </div>
	</form>



<script th:replace="/plantillas-admin/base-plantilla :: script"></script>
</body>
</html>