<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/src/main/resources/static/img/favicon.ico" type="image/x-icon">
    <title>Estemos en contacto!</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/footer-style.css">
     <!--Iconos-->
</head>

<body>
	<div th:replace="fragments/footer :: footer-front"></div>
   
</body>
</html>