<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<head>
<meta charset="UTF-8">
<title>Registro curso</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<link rel="stylesheet" type="text/css" href="../css/index.css" th:href="@{../css/index.css}">
</head>
<body>

	<div class="container m-5">
		<h1>Registrar curso</h1>
<!-- 		<div th:if="${exito}!=null" class="card text-white bg-success mb-3"> -->
<!-- 			<div class="card-body"> -->
<!-- 				<h5 class="card-title">Exito</h5> -->
<!-- 				<p class="card-text" th:text="${exito}"></p> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div th:if="${error}!=null" class="card text-white bg-danger mb-3"> -->
<!-- 			<div class="card-body"> -->
<!-- 				<h5 class="card-title">Error</h5> -->
<!-- 				<p class="card-text" th:text="${error}"></p> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<form th:action="@{/cursos/registrar}" method="POST">
<!-- 			<p th:if="${Error != null}" th:text="${Error}"></p> -->
			<div class="form-group">
				<label>Nombre</label> <input type="text" class="form-control"
					name="nombre" placeholder="Ingrese su nombre"> 
				<label>Descripcion</label>
					<input type="text" class="form-control" name="descripcion"
						placeholder="Ingrese una descripcion"> 
				<label>Url</label> <input type="url" class="form-control" name="url"
						placeholder="Ingrese la url del curso">
				<label>Categoría</label> <input type="text" class="form-control" 
					   name="categoriaID" placeholder="Seleccione una categoria">
				<label>Profesor</label> <input type="text" class="form-control"
						name="profesorID" placeholder="Seleccione un profesor">


			</div>
			<button type="submit" class="btn btn-primary">Registrar</button>
			
		</form>

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
				</div>
			</div>
		</section>

	</div>




	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>