<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Yaldevi:wght@300&display=swap"
      rel="stylesheet"
    />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css"
    />

    <!-- Fav icon -->
    <link rel="shortcut icon" href="/img/admin/favicon-logo.ico" />

    <!--Let browser know website is optimized for mobile-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 shrink-to-fit=no"
    />

    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit-icons.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/css-perfil/estilo-perfil.css" />
    <title>Perfil</title>
  </head>
  <body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li>
        <div class="user-view">
          <a th:href="@{/}" class="uk-align-right"
            ><i class="small material-icons">arrow_back</i></a
          >
          <div class="background">
            <img src="/img/img-perfil/hexagonos.jpeg" />
          </div>
          <!-- FOTO DE PERFIL -->
          <div class="img-redonda">
            <img
              th:if="${perfil.foto == null}"
              class="bi-circle-fill"
              src="/img/img-perfil/img-usuario-estandar.jpg"
              alt="foto de perfil"
            />
            <img
              th:if="${perfil.foto != null}"
              class="bi-circle-fill"
              th:src="${'/foto/usuario?id='+ perfil.id}"
              alt="foto de perfil"
            />
          </div>
          <!-- NOMBRE DE USUARIO  -->
          <span class="white-text name" th:text="${perfil.nombre}"></span>
          <!-- Email de usuario -->
          <span class="white-text email" th:text="${perfil.email}"></span>
        </div>
      </li>
      <li>
        <a th:href="@{/usuario/perfil(id=__${session.usuariosession.id}__)}"
          >Perfil público</a
        >
      </li>
      <li>
        <a
          th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}"
          >Editar perfil</a
        >
      </li>
      <li>
        <a
          th:href="@{/usuario/editar-foto(id=__${session.usuariosession.id}__)}"
          >Editar foto</a
        >
      </li>
      <li>
        <a
          th:href="@{/usuario/modificar-contrasenia(id=__${session.usuariosession.id}__)}"
          >Editar contraseña</a
        >
      </li>
      <img
        class="uk-align-center"
        data-src="/img/admin/Logo-scire-sin-fondo.png"
        width="80"
        height="80"
        alt="scire logo"
        uk-img
      />
      <br />
      <li th:if="${#strings.toString(perfil.rol) == 'ADMIN'}">
        <a th:href="@{/admin/inicio}">Administrador</a>
      </li>
      <br />
      <br />
      <li><a th:href="@{/logout}">Cerrar sesión</a></li>
    </ul>
    <a href="" data-target="slide-out" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >

    <main class="">
      <div class="uk-container uk-container-large">
        <div class="uk-container uk-container-large">
          <h1>
            Bienvenido a tu perfil: <span th:text="${perfil.nombre}"></span>
          </h1>
        </div>
        <div class="uk-flex-middle uk-overlay uk-overlay-default" uk-grid>
          <div class="uk-width-2-3@m" style="overflow: hidden">
            <form
              th:action="@{/usuario/editar-contraseña(id=__${session.usuariosession.id}__)}"
              method="post"
            >
              <label for=""><b>Ingrese su contraseña anterior</b></label>
              <input
                name="antiguaClave"
                class="uk-input validate"
                id="contraseña"
                type="text"
                required
              />

              <label for=""><b>Ingrese su contraseña nueva</b></label>
              <input
                name="claveNueva1"
                class="uk-input validate"
                id="contraseña"
                type="password"
                required
              />

              <label for=""><b>Vuelva a ingresar su constreña nueva</b></label>
              <input
                name="claveNueva2"
                class="uk-input validate"
                id="contraseña"
                type="password"
                required
              />

              <button type="submit" class="btn blue-grey darken-3">
                Guardar cambios
              </button>
            </form>
          </div>
          <div class="uk-width-1-3@m uk-flex-first">
            <img
              th:if="${perfil.foto == null}"
              style="border-radius: 50%"
              src="/img/admin/Logo-scire-sin-fondo.png"
              alt="foto de perfil"
            />
            <img
              th:if="${perfil.foto != null}"
              th:src="${'/foto/usuario?id='+ perfil.id}"
              alt="foto de perfil"
            />
          </div>
        </div>
      </div>
    </main>

    <script type="text/javascript">
      var elem = document.querySelector(".sidenav");
      var instance = new M.Sidenav(elem);

      // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
      // var collapsibleElem = document.querySelector('.collapsible');
      // var collapsibleInstance = new M.Collapsible(collapsibleElem, options);

      // Or with jQuery

      $(document).ready(function () {
        $(".sidenav").sidenav();
      });
    </script>
  </body>
</html>
