* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body {
    background-color: #848484;
    /*font-family: 'Lora', serif;*/
    line-height: 18px;
}

h1,h2,h3,h4,a {
    font-family: 'Lora', serif;
    font-weight: bold;
    
}

p {
    font-family: 'Yaldevi', sans-serif;

}

.a {
    text-decoration: none;
}
    

.cambio-color{
    text-decoration: none;
    color: #5e5e5e;
}

.cambio-color:hover{
    color: lightgrey;
}


.btn-menu {
    display: block;
    padding: 20px;
    background: #3b4652;
    color:#fff;
}

.btn-menu .icono {
    float: right;
}

.contenedor-menu {
    width: 20%; /*si lo pongo en un aside, deberia ser del 100%*/
    min-width: 300px;
    display: inline-block;
    /*margin: 20px;*/
    /*margin-right: 20px;*/
   /*no pongo font family nu line-height*/

}

.menu-scire {
    width: 100%;
    list-style: none;
}


.menu-scire li a {
    
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}

.menu-scire li a:hover {
    background-color: #a59d86;
    color:white; 
}

.menu-scire li .icono {
    font-size: 12px;
    line-height: 18px;
}

.menu-scire li .icono.izquierda {
    float:  left;
    margin-right: 10px;
}

.menu-scire li .icono.derecha {
    float: right;
    margin-right: 10px;
}

.menu-scire ul {
   display: none;
   list-style: none;
}

.menu-scire ul li a {
    background: #919191;

}

.menu-scire li.activado > a {
    background:#fecc62;
    color: #5e5e5e;
}

@media screen and (max-width: 300px) {
    
    body{
        padding-top: 80px;
    }

    .contenedor-menu {
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    } 

   /* .contenedor-menu{
        display: none;
    }
    .btn-menu {
        display: block;
    } */

   
}


/*Estilos de Cards*/

.seccion-cursos-usuario {

    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    margin: 50px;
 
     /*flexbox*/
   /*display: flex;
   margin: 50px;
   gap: 20px;*/
   
}

.listado-cursos{
    
    
    /*flexbox*/
    /*width:70%;
    display: flex;*/

    /*Grid*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

