*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 a{
	text-decoration: none;
}

h1, h2, h3, h4, a{
    font-family: 'Lora', serif;
    text-decoration: none;
   
}

p{
    font-family: 'Yaldevi', sans-serif;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #303030;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 25px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 20px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p:hover{
    color:#ffffff;
    padding-left: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    margin: 0 10px 10px 0;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    transition: all 0.5s ease;
    border-radius: 50%;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.pie-pagina .grupo-2{
    background-color: #5e5e5e;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    
}