*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.body {
    background-color: #b3b3b3;
    line-height: 18px;
}


h1,h2,h3,h4 {
    font-family: 'Lora', serif !important;
    font-weight: bold;
    
}

p {
    font-family: 'Yaldevi', sans-serif !important;

}

.a {
    text-decoration: none;
}


/*ESTILO MAQUETADO CONTENEDOR GENERAL*/
header{
    width: 100%;
}

.footer{
    width: 100%;
}

.seccion-cursos-usuario{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}


/*DISPLAY SECCION FORMULARIO*/
.contenedor {
	width:100%;
	margin-bottom: 4%;
}

.contenedor .form .form-header .form-title{
    font-weight: normal;
    font-family: 'Lora', serif;
    text-align: center;
}
.contenedor .form .form-header .form-title{
    color: black;
}

span{
    color: red;
}

/* #trucazo {
    opacity: 0;
} */

.contenedor .form{
    background: #e9e9e9;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label{
    display:block;
    color: #5e5e5e;
    font-size: 16px;
    font-family: 'Yaldevi', sans-serif;
    position: relative;
}

.contenedor .form .form-input, .form-textarea{
    /* background: #c6c6c6; */
    border: none;
    outline: none;
    border-bottom: 2px solid #a59d86;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
}

.contenedor .form  .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btn-submit{
    width: 100%;
    font-family: sans-serif;
    outline:none;
    background: #8a67a3;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor .form .btn-submit:hover {
    background: #613E7A;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearence: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    /* background: #bdbdbd; */
    background-image: none;
    flex:1;
    padding: 0 .5em;
    color: #807f7d;
    cursor: pointer; 
    font-size: 1em;
    font-family: sans-serif;
}

.select::-ms-expand{
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 20em;
    height: 2.7em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    border-bottom: 2px solid #a59d86;
    
}

.select::after {
    content: '\2B9F';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #8a67a3;
    cursor:pointer;
    pointer-events: none;
    transition: 1s all ease;
}

.select:hover::after {
    color: rgba(0,0,0,.6);;
}


/* marron #a59d86
gris #848484 */



/*ESTILOS SIDEBAR CONTENEDOR MENU*/
.seccion-cursos-usuario .contenedor-menu{
    flex-basis: 20rem;
    flex-grow:1;
}

.cambio-color{
    text-decoration: none;
    color: #5e5e5e;
}

.cambio-color:hover{
    color: lightgrey;
}

.contenedor-menu {
    width: 20%; 
    min-width: 300px;
    margin: 30px;
    margin-right: 15px;
    display: inline-table;
    line-height: 18px;
}

.contenedor-menu .menu-scire {
    width: 100%;
    background: #e9e9e9; /*con esto se acomoda lo de bootstrap*/
    padding: 0em;
    margin-bottom: 0rem;
}

.contenedor-menu ul {
    list-style: none;
    padding: 0rem;
}

.contenedor-menu .menu-scire li a{ 
    background: #e9e9e9;
    display: block;
    padding: 15px 20px;
}

.contenedor-menu .menu-scire li a:hover {
    background-color: #a59d86;
    color:white; 
}

.contenedor-menu .menu-scire li .icono {
    font-size: 12px;
    line-height: 18px;
}

.contenedor-menu .menu-scire li .icono.izquierda {
    float:  left;
    margin-right: 10px;
}

.contenedor-menu .menu-scire li .icono.derecha {
    float: right;
    margin-right: 10px;
}

.contenedor-menu .menu-scire ul {
    display: none;
    list-style: none;
 }

.contenedor-menu .menu-scire ul li a {
    background: #c6c6c6;
}

.contenedor-menu .menu-scire li.activado > a {
    background:#a59d86;
    color: white;
}

/*RESPONSIVIDAD*/
@media screen and (min-width:200px) and (max-width: 768px)  {
    
    .div-aside {
		width:100%;
	}
    
    .contenedor-menu {
        margin: 0px;
        width: 100%;
        top: 0px;
        z-index: 1000;
    }

   .contenedor-menu .menu-scire {
        display:block;
        width: 100%;
    }
    
    .listado-cursos{
    	display:flex;
    	flex-direction:row;
    	flex-wrap: wrap;
    	justify-content: center;
    	
    }
    .colornombre{
	color: #613E7A;
	font-weight: bold;

}

    
}


